<%- include("header") %>
<center>
  <p class="headTextClubPage btn btn-dark btn-lg">ชมรมทั้งหมดประจำปี 2566</p>
<div class="mainClubPage">

<div class="row addMarginTopRow ">
  <div class="col ">
    <a class="aInClubPage" href="/club/football">
    <img class="football logoAllClubPage" src="/images/football2.png" alt="" width="100px">
    <p class="textForTopicClubPage">ฟุตบอล</p>
    </a>
  </div>
  <div class="col ">
    <a class="aInClubPage" href="/club/pingpong">
    <img class="pingpong logoAllClubPage" src="/images/ping-pong2.png" alt="" width="100px">
    <p class="textForTopicClubPage">ปิงปอง</p>
    </a>
  </div>
  <div class="col ">
    <a class="aInClubPage" href="/club/badminton">
    <img class="badminton logoAllClubPage" src="/images/badminton2.png" alt="" width="100px">
    <p class="textForTopicClubPage">แบดมินตัน</p>
    </a>
  </div>
    <div class="col ">
    <a class="aInClubPage" href="/club/basketball">
    <img class="basketball logoAllClubPage" src="/images/basketball-ball2.png" alt="" width="100px">
    <p class="textForTopicClubPage">บาสเกตบอล</p>
    </a>
  </div>
  <div class="col ">
    <a class="aInClubPage" href="/club/starsAndLife">
    <img class="starsAndLife logoAllClubPage" src="/images/star2.png" alt="" width="100px">
    <p class="textForTopicClubPage">ดวงดาวกับชีวิต</p>
    </a>
  </div>
  <div class="col ">
    <a class="aInClubPage" href="/club/clubmathprimary">
    <img class="mathbook logoAllClubPage" src="/images/math-book2.png" alt="" width="100px">
    <p class="textForTopicClubPage">คณิตศาสตร์เบื้องต้น</p>
    </a>
  </div>
</div>

<div class="row addMarginTopRow ">
  <div class="col">
    <a class="aInClubPage" href="/club/mathsplus1">
    <img class="maths logoAllClubPage" src="/images/maths2.png" alt="" width="100px">
    <p class="textForTopicClubPage">คณิตศาสตร์เพิ่มเติม1</p>
    </a>
  </div>
  <div class="col">
    <a class="aInClubPage" href="/club/mathsplus2">
    <img class="maths logoAllClubPage" src="/images/maths2.png" alt="" width="100px">
    <p class="textForTopicClubPage">คณิตศาสตร์เพิ่มเติม2</p>
    </a>
  </div>
  <div class="col">
    <a class="aInClubPage" href="/club/law">
    <img class="law logoAllClubPage" src="/images/law2.png" alt="" width="100px">
    <p class="textForTopicClubPage">กฏหมายเบื้องต้น</p>
    </a>
  </div>
    <div class="col">
    <a class="aInClubPage" href="/club/music3">
    <img class="music3 logoAllClubPage" src="/images/musical-note2.png" alt="" width="100px">
    <p class="textForTopicClubPage">ดนตรีไทยสัมพันธ์3</p>
    </a>
  </div>
  <div class="col ">
    <a class="aInClubPage" href="/club/art5">
    <img class="art logoAllClubPage" src="/images/color-palette2.png" alt="" width="100px">
    <p class="textForTopicClubPage">วาดเขียน5</p>
    </a>
  </div>
  <div class="col">
    <a class="aInClubPage" href="/club/drawing">
    <img class="drawing logoAllClubPage" src="/images/drawing2.png" alt="" width="100px">
    <p class="textForTopicClubPage">งานเขียนแบบ</p>
    </a>
  </div>
</div>

<div class="row addMarginTopRow">
  <div class="col">
    <a class="aInClubPage" href="/club/english">
    <img class="english logoAllClubPage" src="/images/united-kingdom2.png" alt="" width="100px">
    <p class="textForTopicClubPage">ภาษาอังกฤษ</p>
    </a>
  </div>
  <div class="col">
    <a class="aInClubPage" href="/club/japan">
    <img class="japan logoAllClubPage" src="/images/japan2.png" alt="" width="100px">
    <p class="textForTopicClubPage">ภาษาญี่ปุ่น</p>
    </a>
  </div>
  <div class="col">
    <a class="aInClubPage" href="/club/Chinese">
    <img class="Chinese logoAllClubPage" src="/images/Chinese2.png" alt="" width="100px">
    <p class="textForTopicClubPage">ภาษาจีนเบื้องต้น</p>
    </a>
  </div>
    <div class="col">
    <a class="aInClubPage" href="/club/korea">
    <img class="korea logoAllClubPage" src="/images/south-korea2.png" alt="" width="100px">
    <p class="textForTopicClubPage">ภาษาเกาหลี</p>
    </a>
  </div>
  <div class="col">

  </div>
  <div class="col">

  </div>
</div>


</div>
</center>

<%- include("footer") %>
