<%- include("header") %>
<center>
<div class="row mainClubPage">
  <div class="col">
    <a href="/football">
    <img class="football" src="/images/football2.png" alt="" width="150px">
    </a>
  </div>
  <div class="col">
    <a href="/pingpong">
    <img class="pingpong" src="/images/ping-pong2.png" alt="" width="150px">
    </a>
  </div>
    <div class="col">
    <a href="/basketball">
    <img class="basketball" src="/images/basketball-ball2.png" alt="" width="150px">
    </a>
  </div>
</div>
<div class="row mainClubPage">
  <div class="col">
    <a href="/football">
    <img class="football" src="/images/football2.png" alt="" width="150px">
    </a>
  </div>
  <div class="col">
    <a href="/pingpong">
    <img class="pingpong" src="/images/ping-pong2.png" alt="" width="150px">
    </a>
  </div>
    <div class="col">
    <a href="/basketball">
    <img class="basketball" src="/images/basketball-ball2.png" alt="" width="150px">
    </a>
  </div>
</div>
<div class="row mainClubPage">
  <div class="col">
    <a href="/english">
    <img class="english" src="/images/united-kingdom2.png" alt="" width="150px">
    </a>
  </div>
  <div class="col">
    <a href="/japan">
    <img class="japan" src="/images/japan2.png" alt="" width="150px">
    </a>
  </div>
    <div class="col">
    <a href="/korea">
    <img class="korea" src="/images/south-korea2.png" alt="" width="150px">
    </a>
  </div>
</div>
<div class="row mainClubPage">
  <div class="col">
    <a href="/english">
    <img class="english" src="/images/united-kingdom2.png" alt="" width="150px">
    </a>
  </div>
  <div class="col">
    <a href="/japan">
    <img class="japan" src="/images/japan2.png" alt="" width="150px">
    </a>
  </div>
    <div class="col">
    <a href="/korea">
    <img class="korea" src="/images/south-korea2.png" alt="" width="150px">
    </a>
  </div>
</div>
</center>

<%- include("footer") %>
