<%- include("header") %>
<center>
<div class="row mainClubPage">
  <div class="col">
    <a href="/football">
    <img class="football" src="/images/soccer-player2.png" alt="" width="150px">
    </a>
  </div>
  <div class="col">
    <a href="/pingpong">
    <img class="pingpong" src="/images/ping-pong2.png" alt="" width="150px">
    </a>
  </div>
    <div class="col">
    <a href="/swim">
    <img class="swim" src="/images/swimmer2.png" alt="" width="150px">
    </a>
  </div>
</div>
<div class="row mainClubPage">
  <div class="col">
    <a href="/football">
    <img class="football" src="/images/soccer-player2.png" alt="" width="150px">
    </a>
  </div>
  <div class="col">
    <a href="/pingpong">
    <img class="pingpong" src="/images/ping-pong2.png" alt="" width="150px">
    </a>
  </div>
    <div class="col">
    <a href="/swim">
    <img class="swim" src="/images/swimmer2.png" alt="" width="150px">
    </a>
  </div>
</div>
</center>
<%- include("footer") %>
