<%- include("header") %>
<center>
  <p class="headTextClubPage btn btn-dark btn-lg">ชมรมทั้งหมดประจำปี 2566</p>
<div class="mainClubPage">

<div class="row addMarginTopRow ">
  <div class="col ">
    <a class="aInClubPage" href="/club/football">
    <img class="football logoAllClubPage" src="/images/football2.png" alt="" width="100px">
    <p class="textForTopicClubPage">ชมรมฟุตบอล</p>
    </a>
  </div>
  <div class="col ">
    <a class="aInClubPage" href="/club/pingpong">
    <img class="pingpong logoAllClubPage" src="/images/ping-pong2.png" alt="" width="100px">
    <p class="textForTopicClubPage">ชมรมปิงปอง</p>
    </a>
  </div>
  <div class="col ">
    <a class="aInClubPage" href="/club/pingpong">
    <img class="pingpong logoAllClubPage" src="/images/ping-pong2.png" alt="" width="100px">
    <p class="textForTopicClubPage">ชมรมปิงปอง</p>
    </a>
  </div>
    <div class="col ">
    <a class="aInClubPage" href="/club/basketball">
    <img class="basketball logoAllClubPage" src="/images/basketball-ball2.png" alt="" width="100px">
    <p class="textForTopicClubPage">ชมรมบาสเกตบอล</p>
    </a>
  </div>
  <div class="col ">
    <a class="aInClubPage" href="/club/basketball">
    <img class="basketbal logoAllClubPage" src="/images/basketball-ball2.png" alt="" width="100px">
    <p class="textForTopicClubPage">ชมรมบาสเกตบอล</p>
    </a>
  </div>
  <div class="col ">
    <a class="aInClubPage" href="/club/basketball">
    <img class="basketbal logoAllClubPage" src="/images/basketball-ball2.png" alt="" width="100px">
    <p class="textForTopicClubPage">ชมรมบาสเกตบอล</p>
    </a>
  </div>
</div>

<div class="row addMarginTopRow ">
  <div class="col">
    <a class="aInClubPage" href="/club/football">
    <img class="football logoAllClubPage" src="/images/football2.png" alt="" width="100px">
    <p class="textForTopicClubPage">ชมรมฟุตบอล</p>
    </a>
  </div>
  <div class="col">
    <a class="aInClubPage" href="/club/pingpong">
    <img class="pingpong logoAllClubPage" src="/images/ping-pong2.png" alt="" width="100px">
    <p class="textForTopicClubPage">ชมรมปิงปอง</p>
    </a>
  </div>
  <div class="col">
    <a class="aInClubPage" href="/club/pingpong">
    <img class="pingpong logoAllClubPage" src="/images/ping-pong2.png" alt="" width="100px">
    <p class="textForTopicClubPage">ชมรมปิงปอง</p>
    </a>
  </div>
    <div class="col">
    <a class="aInClubPage" href="/club/basketball">
    <img class="basketball logoAllClubPage" src="/images/basketball-ball2.png" alt="" width="100px">
    <p class="textForTopicClubPage">ชมรมบาสเกตบอล</p>
    </a>
  </div>
  <div class="col">
    <a class="aInClubPage" href="/club/basketball">
    <img class="basketball logoAllClubPage" src="/images/basketball-ball2.png" alt="" width="100px">
    <p class="textForTopicClubPage">ชมรมบาสเกตบอล</p>
    </a>
  </div>
  <div class="col">
    <a class="aInClubPage" href="/club/basketball">
    <img class="basketball logoAllClubPage" src="/images/basketball-ball2.png" alt="" width="100px">
    <p class="textForTopicClubPage">ชมรมบาสเกตบอล</p>
    </a>
  </div>
</div>

<div class="row addMarginTopRow">
  <div class="col">
    <a class="aInClubPage" href="/club/english">
    <img class="english logoAllClubPage" src="/images/united-kingdom2.png" alt="" width="100px">
    <p class="textForTopicClubPage">ชมรมภาษาอังกฤษ</p>
    </a>
  </div>
  <div class="col">
    <a class="aInClubPage" href="/club/japan">
    <img class="japan logoAllClubPage" src="/images/japan2.png" alt="" width="100px">
    <p class="textForTopicClubPage">ชมรมภาษาญี่ปุ่น</p>
    </a>
  </div>
  <div class="col">
    <a class="aInClubPage" href="/club/japan">
    <img class="japan logoAllClubPage" src="/images/japan2.png" alt="" width="100px">
    <p class="textForTopicClubPage">ชมรมภาษาญี่ปุ่น</p>
    </a>
  </div>
    <div class="col">
    <a class="aInClubPage" href="/club/korea">
    <img class="korea logoAllClubPage" src="/images/south-korea2.png" alt="" width="100px">
    <p class="textForTopicClubPage">ชมรมภาษาเกาหลี</p>
    </a>
  </div>
  <div class="col">
    <a class="aInClubPage" href="/club/korea">
    <img class="korea logoAllClubPage" src="/images/south-korea2.png" alt="" width="100px">
    <p class="textForTopicClubPage">ชมรมภาษาเกาหลี</p>
    </a>
  </div>
  <div class="col">
    <a class="aInClubPage" href="/club/korea">
    <img class="korea logoAllClubPage" src="/images/south-korea2.png" alt="" width="100px">
    <p class="textForTopicClubPage">ชมรมภาษาเกาหลี</p>
    </a>
  </div>
</div>

<!-- <div class="row addMarginTopRow">
  <div class="col">
    <a class="aInClubPage" href="/club/english">
    <img class="english" src="/images/united-kingdom2.png" alt="" width="100px">
    <p class="textForTopicClubPage">ชมรมภาษาอังกฤษ</p>
    </a>
  </div>
  <div class="col">
    <a class="aInClubPage" href="/club/japan">
    <img class="japan" src="/images/japan2.png" alt="" width="100px">
    <p class="textForTopicClubPage">ชมรมภาษาญี่ปุ่น</p>
    </a>
  </div>
  <div class="col">
    <a class="aInClubPage" href="/club/japan">
    <img class="japan" src="/images/japan2.png" alt="" width="100px">
    <p class="textForTopicClubPage">ชมรมภาษาญี่ปุ่น</p>
    </a>
  </div>
    <div class="col">
    <a class="aInClubPage" href="/club/korea">
    <img class="korea" src="/images/south-korea2.png" alt="" width="100px">
    <p class="textForTopicClubPage">ชมรมภาษาเกาหลี</p>
    </a>
  </div>
  <div class="col">
    <a class="aInClubPage" href="/club/korea">
    <img class="korea" src="/images/south-korea2.png" alt="" width="100px">
    <p class="textForTopicClubPage">ชมรมภาษาเกาหลี</p>
    </a>
  </div>
  <div class="col">
    <a class="aInClubPage" href="/club/korea">
    <img class="korea" src="/images/south-korea2.png" alt="" width="100px">
    <p class="textForTopicClubPage">ชมรมภาษาเกาหลี</p>
    </a>
  </div>
</div>

<div class="row addMarginTopRow ">
  <div class="col">
    <a class="aInClubPage" href="/club/football">
    <img class="football" src="/images/football2.png" alt="" width="100px">
    <p class="textForTopicClubPage">ชมรมฟุตบอล</p>
    </a>
  </div>
  <div class="col">
    <a class="aInClubPage" href="/club/pingpong">
    <img class="pingpong" src="/images/ping-pong2.png" alt="" width="100px">
    <p class="textForTopicClubPage">ชมรมปิงปอง</p>
    </a>
  </div>
  <div class="col">
    <a class="aInClubPage" href="/club/pingpong">
    <img class="pingpong" src="/images/ping-pong2.png" alt="" width="100px">
    <p class="textForTopicClubPage">ชมรมปิงปอง</p>
    </a>
  </div>
    <div class="col">
    <a class="aInClubPage" href="/club/basketball">
    <img class="basketball" src="/images/basketball-ball2.png" alt="" width="100px">
    <p class="textForTopicClubPage">ชมรมบาสเกตบอล</p>
    </a>
  </div>
  <div class="col">
    <a class="aInClubPage" href="/club/basketball">
    <img class="basketball" src="/images/basketball-ball2.png" alt="" width="100px">
    <p class="textForTopicClubPage">ชมรมบาสเกตบอล</p>
    </a>
  </div>
  <div class="col">
    <a class="aInClubPage" href="/club/basketball">
    <img class="basketball" src="/images/basketball-ball2.png" alt="" width="100px">
    <p class="textForTopicClubPage">ชมรมบาสเกตบอล</p>
    </a>
  </div>
</div>

<div class="row addMarginTopRow ">
  <div class="col">
    <a class="aInClubPage" href="/club/football">
    <img class="football" src="/images/football2.png" alt="" width="100px">
    <p class="textForTopicClubPage">ชมรมฟุตบอล</p>
    </a>
  </div>
  <div class="col">
    <a class="aInClubPage" href="/club/pingpong">
    <img class="pingpong" src="/images/ping-pong2.png" alt="" width="100px">
    <p class="textForTopicClubPage">ชมรมปิงปอง</p>
    </a>
  </div>
  <div class="col">
    <a class="aInClubPage" href="/club/pingpong">
    <img class="pingpong" src="/images/ping-pong2.png" alt="" width="100px">
    <p class="textForTopicClubPage">ชมรมปิงปอง</p>
    </a>
  </div>
    <div class="col">
    <a class="aInClubPage" href="/club/basketball">
    <img class="basketball" src="/images/basketball-ball2.png" alt="" width="100px">
    <p class="textForTopicClubPage">ชมรมบาสเกตบอล</p>
    </a>
  </div>
  <div class="col">
    <a class="aInClubPage" href="/club/basketball">
    <img class="basketball" src="/images/basketball-ball2.png" alt="" width="100px">
    <p class="textForTopicClubPage">ชมรมบาสเกตบอล</p>
    </a>
  </div>
  <div class="col">
    <a class="aInClubPage" href="/club/basketball">
    <img class="basketball" src="/images/basketball-ball2.png" alt="" width="100px">
    <p class="textForTopicClubPage">ชมรมบาสเกตบอล</p>
    </a>
  </div>
</div>

<div class="row addMarginTopRow ">
  <div class="col">
    <a class="aInClubPage" href="/club/football">
    <img class="football" src="/images/football2.png" alt="" width="100px">
    <p class="textForTopicClubPage">ชมรมฟุตบอล</p>
    </a>
  </div>
  <div class="col">
    <a class="aInClubPage" href="/club/pingpong">
    <img class="pingpong" src="/images/ping-pong2.png" alt="" width="100px">
    <p class="textForTopicClubPage">ชมรมปิงปอง</p>
    </a>
  </div>
  <div class="col">
    <a class="aInClubPage" href="/club/pingpong">
    <img class="pingpong" src="/images/ping-pong2.png" alt="" width="100px">
    <p class="textForTopicClubPage">ชมรมปิงปอง</p>
    </a>
  </div>
    <div class="col">
    <a class="aInClubPage" href="/club/basketball">
    <img class="basketball" src="/images/basketball-ball2.png" alt="" width="100px">
    <p class="textForTopicClubPage">ชมรมบาสเกตบอล</p>
    </a>
  </div>
  <div class="col">
    <a class="aInClubPage" href="/club/basketball">
    <img class="basketball" src="/images/basketball-ball2.png" alt="" width="100px">
    <p class="textForTopicClubPage">ชมรมบาสเกตบอล</p>
    </a>
  </div>
  <div class="col">
    <a class="aInClubPage" href="/club/basketball">
    <img class="basketball" src="/images/basketball-ball2.png" alt="" width="100px">
    <p class="textForTopicClubPage">ชมรมบาสเกตบอล</p>
    </a>
  </div>
</div>

<div class="row addMarginTopRow ">
  <div class="col">
    <a class="aInClubPage" href="/club/football">
    <img class="football" src="/images/football2.png" alt="" width="100px">
    <p class="textForTopicClubPage">ชมรมฟุตบอล</p>
    </a>
  </div>
  <div class="col">
    <a class="aInClubPage" href="/club/pingpong">
    <img class="pingpong" src="/images/ping-pong2.png" alt="" width="100px">
    <p class="textForTopicClubPage">ชมรมปิงปอง</p>
    </a>
  </div>
  <div class="col">
    <a class="aInClubPage" href="/club/pingpong">
    <img class="pingpong" src="/images/ping-pong2.png" alt="" width="100px">
    <p class="textForTopicClubPage">ชมรมปิงปอง</p>
    </a>
  </div>
    <div class="col">
    <a class="aInClubPage" href="/club/basketball">
    <img class="basketball" src="/images/basketball-ball2.png" alt="" width="100px">
    <p class="textForTopicClubPage">ชมรมบาสเกตบอล</p>
    </a>
  </div>
  <div class="col">
    <a class="aInClubPage" href="/club/basketball">
    <img class="basketball" src="/images/basketball-ball2.png" alt="" width="100px">
    <p class="textForTopicClubPage">ชมรมบาสเกตบอล</p>
    </a>
  </div>
  <div class="col">
    <a class="aInClubPage" href="/club/basketball">
    <img class="basketball" src="/images/basketball-ball2.png" alt="" width="100px">
    <p class="textForTopicClubPage">ชมรมบาสเกตบอล</p>
    </a>
  </div>
</div>

<div class="row addMarginTopRow ">
  <div class="col">
    <a class="aInClubPage" href="/club/football">
    <img class="football" src="/images/football2.png" alt="" width="100px">
    <p class="textForTopicClubPage">ชมรมฟุตบอล</p>
    </a>
  </div>
  <div class="col">
    <a class="aInClubPage" href="/club/pingpong">
    <img class="pingpong" src="/images/ping-pong2.png" alt="" width="100px">
    <p class="textForTopicClubPage">ชมรมปิงปอง</p>
    </a>
  </div>
  <div class="col">
    <a class="aInClubPage" href="/club/pingpong">
    <img class="pingpong" src="/images/ping-pong2.png" alt="" width="100px">
    <p class="textForTopicClubPage">ชมรมปิงปอง</p>
    </a>
  </div>
    <div class="col">
    <a class="aInClubPage" href="/club/basketball">
    <img class="basketball" src="/images/basketball-ball2.png" alt="" width="100px">
    <p class="textForTopicClubPage">ชมรมบาสเกตบอล</p>
    </a>
  </div>
  <div class="col">
    <a class="aInClubPage" href="/club/basketball">
    <img class="basketball" src="/images/basketball-ball2.png" alt="" width="100px">
    <p class="textForTopicClubPage">ชมรมบาสเกตบอล</p>
    </a>
  </div>
  <div class="col">
    <a class="aInClubPage" href="/club/basketball">
    <img class="basketball" src="/images/basketball-ball2.png" alt="" width="100px">
    <p class="textForTopicClubPage">ชมรมบาสเกตบอล</p>
    </a>
  </div>
</div>

<div class="row addMarginTopRow ">
  <div class="col">
    <a class="aInClubPage" href="/club/football">
    <img class="football" src="/images/football2.png" alt="" width="100px">
    <p class="textForTopicClubPage">ชมรมฟุตบอล</p>
    </a>
  </div>
  <div class="col">
    <a class="aInClubPage" href="/club/pingpong">
    <img class="pingpong" src="/images/ping-pong2.png" alt="" width="100px">
    <p class="textForTopicClubPage">ชมรมปิงปอง</p>
    </a>
  </div>
  <div class="col">
    <a class="aInClubPage" href="/club/pingpong">
    <img class="pingpong" src="/images/ping-pong2.png" alt="" width="100px">
    <p class="textForTopicClubPage">ชมรมปิงปอง</p>
    </a>
  </div>
    <div class="col">
    <a class="aInClubPage" href="/club/basketball">
    <img class="basketball" src="/images/basketball-ball2.png" alt="" width="100px">
    <p class="textForTopicClubPage">ชมรมบาสเกตบอล</p>
    </a>
  </div>
  <div class="col">
    <a class="aInClubPage" href="/club/basketball">
    <img class="basketball" src="/images/basketball-ball2.png" alt="" width="100px">
    <p class="textForTopicClubPage">ชมรมบาสเกตบอล</p>
    </a>
  </div>
  <div class="col">
    <a class="aInClubPage" href="/club/basketball">
    <img class="basketball" src="/images/basketball-ball2.png" alt="" width="100px">
    <p class="textForTopicClubPage">ชมรมบาสเกตบอล</p>
    </a>
  </div>
</div>

<div class="row addMarginTopRow ">
  <div class="col">
    <a class="aInClubPage" href="/club/football">
    <img class="football" src="/images/football2.png" alt="" width="100px">
    <p class="textForTopicClubPage">ชมรมฟุตบอล</p>
    </a>
  </div>
  <div class="col">
    <a class="aInClubPage" href="/club/pingpong">
    <img class="pingpong" src="/images/ping-pong2.png" alt="" width="100px">
    <p class="textForTopicClubPage">ชมรมปิงปอง</p>
    </a>
  </div>
  <div class="col">
    <a class="aInClubPage" href="/club/pingpong">
    <img class="pingpong" src="/images/ping-pong2.png" alt="" width="100px">
    <p class="textForTopicClubPage">ชมรมปิงปอง</p>
    </a>
  </div>
    <div class="col">
    <a class="aInClubPage" href="/club/basketball">
    <img class="basketball" src="/images/basketball-ball2.png" alt="" width="100px">
    <p class="textForTopicClubPage">ชมรมบาสเกตบอล</p>
    </a>
  </div>
  <div class="col">
    <a class="aInClubPage" href="/club/basketball">
    <img class="basketball" src="/images/basketball-ball2.png" alt="" width="100px">
    <p class="textForTopicClubPage">ชมรมบาสเกตบอล</p>
    </a>
  </div>
  <div class="col">
    <a class="aInClubPage" href="/club/basketball">
    <img class="basketball" src="/images/basketball-ball2.png" alt="" width="100px">
    <p class="textForTopicClubPage">ชมรมบาสเกตบอล</p>
    </a>
  </div>
</div> -->

</div>
</center>

<%- include("footer") %>
