<footer id="footer" class="bg-dark text-center ">
    <!-- Grid container -->
    <div class="container p-5 myfooter">
      <!--Grid row-->
      <div class="row  ">
        <!--Grid column-->
        <div class="col-lg-4 col-md-0 mb-0 mb-md-0 ">
          <h5 class="text-uppercase"><i class="ri-phone-line"></i> 077-777-7777</h5>
        </div>
        <!--Grid column-->
        <div class="col-lg-4 col-md-0 mb-0 mb-md-0 ">
          <h5 class="text-uppercase"><i class="ri-mail-line"></i> ท่าตะโกพิทยาคม@gmail.com</h5>
        </div>
        <!--Grid column-->
        <div class="col-lg-4 col-md-0 mb-0 mb-md-0 ">
          <h5 class="text-uppercase mb-0"><i class="ri-home-4-line"></i> address ท่าตะโกพิทยาคม</h5>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
</body>
</html>