<nav class="navbar navbar-dark bg-dark mynav">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
</nav>
  <div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-dark mynavscroll">

    <div class="text-center row">
        <a class="text-light aInClubPage col" href="/club/football"><img src="/images/football2.png" width="50px" alt=""><p class="">ฟุตบอล</p></a>
        <a class="text-light aInClubPage col" href="/club/pingpong"><img src="/images/ping-pong2.png" width="50px" alt=""><p class="">ปิงปอง</p></a>
        <a class="text-light aInClubPage col" href="/club/basketball"><img src="/images/basketball-ball2.png" width="50px" alt=""><p class="">บาสเกตบอล</p></a>
        <a class="text-light aInClubPage col" href="/club/badminton"><img src="/images/badminton2.png" width="50px" alt=""><p class="">แบดมินตัน</p></a>
        <a class="text-light aInClubPage col" href="/club/starsAndLife"><img src="/images/star2.png" width="50px" alt=""><p class="">ดวงดาวกับชีวิต</p></a>
        <a class="text-light aInClubPage col" href="/club/clubmathprimary"><img src="/images/math-book2.png" width="50px" alt=""><p class="">คณิตศาสตร์เบื้องต้น</p></a>
    </div>

    <div class="text-center row">
      <a class="text-light aInClubPage col" href="/club/mathsplus1"><img src="/images/maths2.png" width="50px" alt=""><p class="">คณิตศาสตร์เพิ่มเติม1</p></a>
      <a class="text-light aInClubPage col" href="/club/mathsplus2"><img src="/images/maths2.png" width="50px" alt=""><p class="">คณิตศาสตร์เพิ่มเติม2</p></a>
      <a class="text-light aInClubPage col" href="/club/law"><img src="/images/law2.png" width="50px" alt=""><p class="">กฏหมายเบื้องต้น</p></a>
      <a class="text-light aInClubPage col" href="/club/music3"><img src="/images/musical-note2.png" width="50px" alt=""><p class="">ดนตรีไทยสัมพันธ์3</p></a>
      <a class="text-light aInClubPage col" href="/club/art5"><img src="/images/color-palette2.png" width="50px" alt=""><p class="">วาดเขียน5</p></a>
      <a class="text-light aInClubPage col" href="/club/drawing"><img src="/images/drawing2.png" width="50px" alt=""><p class="">งานเขียนแบบ</p></a>
    </div>

    <div class="text-center row">
      <a class="text-light aInClubPage col" href="/club/english"><img src="/images/united-kingdom2.png" width="50px" alt=""><p class="">ภาษาอังกฤษ</p></a>
      <a class="text-light aInClubPage col" href="/club/japan"><img src="/images/japan2.png" width="50px" alt=""><p class="">ภาษาญี่ปุ่น</p></a>
      <a class="text-light aInClubPage col" href="/club/Chinese"><img src="/images/Chinese2.png" width="50px" alt=""><p class="">ภาษาจีนเบื้องต้น</p></a>
      <a class="text-light aInClubPage col" href="/club/korea"><img src="/images/south-korea2.png" width="50px" alt=""><p class="">ภาษาเกาหลี</p></a>
      <div class="text-light aInClubPage col" ></div>
      <div class="text-light aInClubPage col" ></div>
    </div>

  </div>
</div>
