<nav class="navbar navbar-dark bg-dark mynav">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
</nav>
  <div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-dark mynavscroll">

    <div class="text-center row">
        <a class="text-light aInClubPage col" href="/club/football"><img src="/images/football2.png" width="50px" alt=""><p class="">ชมรมฟุตบอล</p></a>
        <a class="text-light aInClubPage col" href="/club/pingpong"><img src="/images/ping-pong2.png" width="50px" alt=""><p class="">ชมรมปิงปอง</p></a>
        <a class="text-light aInClubPage col" href="/club/basketball"><img src="/images/basketball-ball2.png" width="50px" alt=""><p class="">ชมรมบาสเกตบอล</p></a>
        <a class="text-light aInClubPage col" href="/club/english"><img src="/images/united-kingdom2.png" width="50px" alt=""><p class="">ชมรมภาษาอังกฤษ</p></a>
        <a class="text-light aInClubPage col" href="/club/japan"><img src="/images/japan2.png" width="50px" alt=""><p class="">ชมรมภาษาญี่ปุ่น</p></a>
        <a class="text-light aInClubPage col" href="/club/korea"><img src="/images/south-korea2.png" width="50px" alt=""><p class="">ชมรมภาษาเกาหลี</p></a>
    </div>

    <div class="text-center row">
      <a class="text-light aInClubPage col" href="/club/football"><img src="/images/football2.png" width="50px" alt=""><p class="">ชมรมฟุตบอล</p></a>
      <a class="text-light aInClubPage col" href="/club/pingpong"><img src="/images/ping-pong2.png" width="50px" alt=""><p class="">ชมรมปิงปอง</p></a>
      <a class="text-light aInClubPage col" href="/club/basketball"><img src="/images/basketball-ball2.png" width="50px" alt=""><p class="">ชมรมบาสเกตบอล</p></a>
      <a class="text-light aInClubPage col" href="/club/english"><img src="/images/united-kingdom2.png" width="50px" alt=""><p class="">ชมรมภาษาอังกฤษ</p></a>
      <a class="text-light aInClubPage col" href="/club/japan"><img src="/images/japan2.png" width="50px" alt=""><p class="">ชมรมภาษาญี่ปุ่น</p></a>
      <a class="text-light aInClubPage col" href="/club/korea"><img src="/images/south-korea2.png" width="50px" alt=""><p class="">ชมรมภาษาเกาหลี</p></a>
  </div>

  <div class="text-center row">
    <a class="text-light aInClubPage col" href="/club/football"><img src="/images/football2.png" width="50px" alt=""><p class="">ชมรมฟุตบอล</p></a>
    <a class="text-light aInClubPage col" href="/club/pingpong"><img src="/images/ping-pong2.png" width="50px" alt=""><p class="">ชมรมปิงปอง</p></a>
    <a class="text-light aInClubPage col" href="/club/basketball"><img src="/images/basketball-ball2.png" width="50px" alt=""><p class="">ชมรมบาสเกตบอล</p></a>
    <a class="text-light aInClubPage col" href="/club/english"><img src="/images/united-kingdom2.png" width="50px" alt=""><p class="">ชมรมภาษาอังกฤษ</p></a>
    <a class="text-light aInClubPage col" href="/club/japan"><img src="/images/japan2.png" width="50px" alt=""><p class="">ชมรมภาษาญี่ปุ่น</p></a>
    <a class="text-light aInClubPage col" href="/club/korea"><img src="/images/south-korea2.png" width="50px" alt=""><p class="">ชมรมภาษาเกาหลี</p></a>
  </div>

  <div class="text-center row">
    <a class="text-light aInClubPage col" href="/club/football"><img src="/images/football2.png" width="50px" alt=""><p class="">ชมรมฟุตบอล</p></a>
    <a class="text-light aInClubPage col" href="/club/pingpong"><img src="/images/ping-pong2.png" width="50px" alt=""><p class="">ชมรมปิงปอง</p></a>
    <a class="text-light aInClubPage col" href="/club/basketball"><img src="/images/basketball-ball2.png" width="50px" alt=""><p class="">ชมรมบาสเกตบอล</p></a>
    <a class="text-light aInClubPage col" href="/club/english"><img src="/images/united-kingdom2.png" width="50px" alt=""><p class="">ชมรมภาษาอังกฤษ</p></a>
    <a class="text-light aInClubPage col" href="/club/japan"><img src="/images/japan2.png" width="50px" alt=""><p class="">ชมรมภาษาญี่ปุ่น</p></a>
    <a class="text-light aInClubPage col" href="/club/korea"><img src="/images/south-korea2.png" width="50px" alt=""><p class="">ชมรมภาษาเกาหลี</p></a>
</div>

<div class="text-center row">
  <a class="text-light aInClubPage col" href="/club/football"><img src="/images/football2.png" width="50px" alt=""><p class="">ชมรมฟุตบอล</p></a>
  <a class="text-light aInClubPage col" href="/club/pingpong"><img src="/images/ping-pong2.png" width="50px" alt=""><p class="">ชมรมปิงปอง</p></a>
  <a class="text-light aInClubPage col" href="/club/basketball"><img src="/images/basketball-ball2.png" width="50px" alt=""><p class="">ชมรมบาสเกตบอล</p></a>
  <a class="text-light aInClubPage col" href="/club/english"><img src="/images/united-kingdom2.png" width="50px" alt=""><p class="">ชมรมภาษาอังกฤษ</p></a>
  <a class="text-light aInClubPage col" href="/club/japan"><img src="/images/japan2.png" width="50px" alt=""><p class="">ชมรมภาษาญี่ปุ่น</p></a>
  <a class="text-light aInClubPage col" href="/club/korea"><img src="/images/south-korea2.png" width="50px" alt=""><p class="">ชมรมภาษาเกาหลี</p></a>
</div>

<div class="text-center row">
  <a class="text-light aInClubPage col" href="/club/football"><img src="/images/football2.png" width="50px" alt=""><p class="">ชมรมฟุตบอล</p></a>
  <a class="text-light aInClubPage col" href="/club/pingpong"><img src="/images/ping-pong2.png" width="50px" alt=""><p class="">ชมรมปิงปอง</p></a>
  <a class="text-light aInClubPage col" href="/club/basketball"><img src="/images/basketball-ball2.png" width="50px" alt=""><p class="">ชมรมบาสเกตบอล</p></a>
  <a class="text-light aInClubPage col" href="/club/english"><img src="/images/united-kingdom2.png" width="50px" alt=""><p class="">ชมรมภาษาอังกฤษ</p></a>
  <a class="text-light aInClubPage col" href="/club/japan"><img src="/images/japan2.png" width="50px" alt=""><p class="">ชมรมภาษาญี่ปุ่น</p></a>
  <a class="text-light aInClubPage col" href="/club/korea"><img src="/images/south-korea2.png" width="50px" alt=""><p class="">ชมรมภาษาเกาหลี</p></a>
</div>

<div class="text-center row">
  <a class="text-light aInClubPage col" href="/club/football"><img src="/images/football2.png" width="50px" alt=""><p class="">ชมรมฟุตบอล</p></a>
  <a class="text-light aInClubPage col" href="/club/pingpong"><img src="/images/ping-pong2.png" width="50px" alt=""><p class="">ชมรมปิงปอง</p></a>
  <a class="text-light aInClubPage col" href="/club/basketball"><img src="/images/basketball-ball2.png" width="50px" alt=""><p class="">ชมรมบาสเกตบอล</p></a>
  <a class="text-light aInClubPage col" href="/club/english"><img src="/images/united-kingdom2.png" width="50px" alt=""><p class="">ชมรมภาษาอังกฤษ</p></a>
  <a class="text-light aInClubPage col" href="/club/japan"><img src="/images/japan2.png" width="50px" alt=""><p class="">ชมรมภาษาญี่ปุ่น</p></a>
  <a class="text-light aInClubPage col" href="/club/korea"><img src="/images/south-korea2.png" width="50px" alt=""><p class="">ชมรมภาษาเกาหลี</p></a>
</div>

<div class="text-center row">
  <a class="text-light aInClubPage col" href="/club/football"><img src="/images/football2.png" width="50px" alt=""><p class="">ชมรมฟุตบอล</p></a>
  <a class="text-light aInClubPage col" href="/club/pingpong"><img src="/images/ping-pong2.png" width="50px" alt=""><p class="">ชมรมปิงปอง</p></a>
  <a class="text-light aInClubPage col" href="/club/basketball"><img src="/images/basketball-ball2.png" width="50px" alt=""><p class="">ชมรมบาสเกตบอล</p></a>
  <a class="text-light aInClubPage col" href="/club/english"><img src="/images/united-kingdom2.png" width="50px" alt=""><p class="">ชมรมภาษาอังกฤษ</p></a>
  <a class="text-light aInClubPage col" href="/club/japan"><img src="/images/japan2.png" width="50px" alt=""><p class="">ชมรมภาษาญี่ปุ่น</p></a>
  <a class="text-light aInClubPage col" href="/club/korea"><img src="/images/south-korea2.png" width="50px" alt=""><p class="">ชมรมภาษาเกาหลี</p></a>
</div>

<div class="text-center row">
  <a class="text-light aInClubPage col" href="/club/football"><img src="/images/football2.png" width="50px" alt=""><p class="">ชมรมฟุตบอล</p></a>
  <a class="text-light aInClubPage col" href="/club/pingpong"><img src="/images/ping-pong2.png" width="50px" alt=""><p class="">ชมรมปิงปอง</p></a>
  <a class="text-light aInClubPage col" href="/club/basketball"><img src="/images/basketball-ball2.png" width="50px" alt=""><p class="">ชมรมบาสเกตบอล</p></a>
  <a class="text-light aInClubPage col" href="/club/english"><img src="/images/united-kingdom2.png" width="50px" alt=""><p class="">ชมรมภาษาอังกฤษ</p></a>
  <a class="text-light aInClubPage col" href="/club/japan"><img src="/images/japan2.png" width="50px" alt=""><p class="">ชมรมภาษาญี่ปุ่น</p></a>
  <a class="text-light aInClubPage col" href="/club/korea"><img src="/images/south-korea2.png" width="50px" alt=""><p class="">ชมรมภาษาเกาหลี</p></a>
</div>

  </div>
</div>
