<nav class="navbar navbar-expand-lg mynav bg-dark">
      <div class="navlist">
      <button class="navbar-toggler navlist bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <i class="ri-menu-line"></i>
      </button>
      <div class="collapse navbar-collapse " id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 " >
          <li class="nav-item">
            <a class="nav-link text-light" href="/football"><img src="/images/football2.png" width="50px" alt=""></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/pingpong"><img src="/images/ping-pong2.png" width="50px" alt=""></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/basketball"><img src="/images/basketball-ball2.png" width="50px" alt=""></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/english"><img src="/images/united-kingdom2.png" width="50px" alt=""></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/japan"><img src="/images/japan2.png" width="50px" alt=""></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/korea"><img src="/images/south-korea2.png" width="50px" alt=""></a>
          </li>
        </ul>
     </div>
    </div>
  </nav>