<%- include("header") %>
<section class="homePageSection main row">


  <div class="col">
  <center>
  <h2>เลือกชมรมปี 2566</h2>
  <p>สำหรับนักเรียนที่สนใจสมัครเข้าชมรม<br>คลิกที่ลิงค์ด้านล่าง</p>
  <a href="/clubPage" class="btn btn-primary clubbtn">เลือกชมรม</a>
  </center>
  </div>

  <center class="col">
    <img src="../images/part2.png" id="imgHomePage" width="550px" alt="">
  </center>


</section>
<%- include("footer") %>
