<%- include("header") %>
<section class="homePageSection">
<div class="main row">
  <div class="col-lg-5 col-md-0 col-sm-12">
  <h2>เลือกชมรมปี 2566</h2>
  <p>สำหรับนักเรียนที่สนใจสมัครเข้าชมรม<br>
  คลิกที่ลิงค์ด้านล่าง</p>
  <center><a href="/clubPage" class="btn btn-primary clubbtn">เลือกชมรม</a></center>
  </div>
  <div class="col-lg-5 col-md-0 col-sm-12">
    <img src="../images/part2.png" width="550px" alt="">
  </div>
</div>
</section>
<%- include("footer") %>
