<%- include("header") %>
<center>
<section class="homePageSection">



  <div>
  <h2>เลือกชมรมปี 2566</h2>
  <p>สำหรับนักเรียนที่สนใจสมัครเข้าชมรม<br>คลิกที่ลิงค์ด้านล่าง</p>
  <a href="/clubPage" class="btn btn-primary clubbtn">เลือกชมรม</a>
  </div>

  <div>
    <img src="../images/thatako.png" id="imgHomePage" width="550px" alt="">
  </div>


</section>
</center>
<%- include("footer") %>
