@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&family=Kanit:wght@300&display=swap');

body {
  font: 18px 'Kanit', sans-serif; /* Kanit  Chakra Petch */
  color: white;
  background: linear-gradient(245.59deg,rgb(120, 201, 244)  0% , rgb(27, 27, 79) 80% ,rgb(19, 19, 57) 100%);
}


.main{
  align-items: center;
  margin-top: 20%;
}
.clubbtn {
  font-size: 30px;
  padding: 1rem 3rem;
  margin-top: 2rem;
}
.homePageSection {
  padding: 0 19%;
}


/* ---------------------------nav--------------------------- */

.mynav {
  padding: 25px 10%;
}
.mynavscroll {
  padding: 25px 10%;
}
.navlist{
  text-align: end;
}
.nav-item{
  margin-right: 50px;
  border-bottom: 2px solid transparent;
  transition: all .55s;
}
.nav-item:hover{
  border-bottom: 2px solid white;
}



/* ----------------------------------footer ----------------------------------   */

footer {
  margin-top: 20%;
  position: relative;
  bottom: 0;
  width: 100%;
}
.myfooter {

  text-align: center;
}
.footerlogo {
  width: 50px;
  height: 20px;
}

/* ---------------------------------------------------------------------   */
/* ----------------------------------show ----------------------------------   */

.formlogin {
  background-color: rgb(216, 219, 225);
  margin-top: 10rem;
  padding: 4rem;
  width: 400px;
  font-size: 1rem;
}
.LoginRegisbtn {
  margin-top: 2rem;
}
.LoginRegisimg {
  margin-bottom: 2rem;
}
.clublabel {
  margin-top: 1rem;
}


/* -------------------------------------------------------------------- */
/* ---------------------------------- images in club page ----------------------------------   */

.football:hover {
  content: url(/images/football1.png);
}
.pingpong:hover {
  content: url(/images/ping-pong1.png);
}
.basketball:hover {
  content: url(/images/basketball-ball1.png);
}
.english:hover {
  content: url(/images/united-kingdom1.png);
}
.japan:hover {
  content: url(/images/japan1.png);
}
.korea:hover {
  content: url(/images/south-korea1.png);
}

/* --------------------------------------------------------------------   */
/* ---------------------------------- show info student & teacher ----------------------------------   */

.clubAddBtn {
  margin-bottom: 2rem;
}
.clubtable {
  margin-top: 10rem;
}
.studentTable {
  margin-top: 3rem;
}

/* ----------------------------------- ClubPage ---------------------------------------------- */

.headTextClubPage {
margin-top: 15rem;
font-size: 36px;
cursor: auto;
}
.addMarginTopRow {
  margin-top: 3rem;
}
.mainClubPage {
  margin: 2rem 15rem 10rem 15rem;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 5px;
  border-width: 5px;
  border-color: black;
  border-style: solid;
}
.aInClubPage {
  text-decoration:none;
}
.textForTopicClubPage {
  margin-top: 1rem;
  font-size: 19px;
  color: aliceblue;
}
.textForTopicClub {
  position: relative;
  overflow: visible;
  font-size: 50px;
  cursor: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

/* allClubPage */

.imgTopLeftHead1 {
  position: absolute;
  top: -25%;
  left: -5%;
}


@media (max-width: 426px) {
  body {
    font-size: 19px;
  }

  /* homepage */
  #imgHomePage {
    width: 200px;
    margin-top: 2rem;
  }
  .clubbtn {
    font-size: 25px;
    padding: 0.8rem 1.5rem;
  }

  /* clubpage */

  .headTextClubPage {
    margin-top: 5rem;
    font-size: 18px;
    cursor: auto;
  }  
  .addMarginTopRow {
    margin-top: 1rem;
  }
  .logoAllClubPage {
    width: 50px;
  }
  .textForTopicClubPage {
    margin-top: 1rem;
    font-size: 10px;
    color: aliceblue;
  }
  .mainClubPage {
    margin: 0 3.5rem ;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 5px;
    border-width: 3px;
    border-color: black;
    border-style: solid;
  }

  /* AllClubPage */
  .textForTopicClub {
    position: relative;
    overflow: visible;
    font-size: 25px;
    cursor: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .clubAddBtn {
    margin-bottom: 2rem;
  }
  .clubtable {
    margin-top: 10rem;
  }
  .studentTable {
    margin-top: 3rem;
  }
  .clublabel {
    margin-top: 1rem;
  }
  .imgTopLeftHead1 {
    width: 30px;
    position: absolute;
    top: -25%;
    left: -5%;
  }
}